/* Responsive style sheet */

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
	/*Home 1*/
	&.layout-1,&.layout-5 {
		&.vg-front-page {
			.cateproductmenu .widget_mega_main_sidebar_menu .mega_main_menu {
				display: block;
			}
		}
	}
	/*End Home 1*/
	#sp-top-shipping {
		margin-bottom: 17px;
	}
	.main-container .shop-products > div.item-col {
		&.col-lg-3{
			&:nth-child(4n+1) {
				clear: both;
			}
		}
		&.col-lg-4{
			&:nth-child(3n+1) {
				clear: both;
			}
		}
		&.col-lg-6{
			&:nth-child(2n+1) {
				clear: both;
			}
		}
		&.col-lg-13{
			width:20% !important;
			&:nth-child(5n+1) {
				clear: both;
			}
		}
		&.col-lg-2{
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}
}

/*End min*/

@media screen and (max-width: 1200px) {
	.vg-max1200-12 {
		width: 100% !important;
	}
	.sp-main-menu-wrapper {
		&.home2 {
			#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link {
				padding: 10px 12px 10px 12px;
				&:after {
					display: none;
				}
			}
		}
	}
	
	.vg-shipping {
		.box-col-inner {
			.media-body {
				line-height: 18px;
				font-size: 11px;
				h3 {
					font-size: 16px;
					line-height: 20px;
					padding-top: 4px;
				}
			}
		}
	}
	
	.widget_mega_main_sidebar_menu .mega_main_menu li.tabs_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li.multicolumn_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li.widgets_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li.post_type_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li.grid_dropdown > .mega_dropdown, .widget_mega_main_sidebar_menu .mega_main_menu li .mega_dropdown > li .post_details {
	    width: 721px;
	}
	.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li > a > .link_content > .link_text {
		font-size: 12px;
	}
	.page-shop {
		.vgwc-item {
			.ma-box-content {
				.vgwc-image-block {
					img {
						padding-right: 1px;
					}
				}
			}
		}
	}
	.widget .vg-title, .wpb_text_column .vg-title {
		font-size: 20px;
	}
	.main-container .page-content .entry-content .shop_table .product-name {
		width: 40%;
	}	
	.widget .vg-title h3, .wpb_text_column .vg-title h3,.vg-testimonial .wpb_wrapper > h2 {
		font-size: 20px;
	}

	.front-page {
		.vc_row {
			.row-container {
				max-width: 970px;
			}
		}
	}
	.main-container {
		&.full-width {
			.vc_row {
				.row-container {
					max-width: 970px;
				}
			}
			.page-content {
				.entry-header {
					.entry-title {
						max-width: 970px;
					}
				}
				.entry-content {
					.woocommerce {
						max-width: 970px;
					}
				}
			}
		}
	}
	.main-container .page-content td.product-add-to-cart .button.alt {
		font-size: 0;
		&:before {
			content: "\f07a";
			font-size: 14px;
			display: inline-block;
			font-family: FontAwesome;
		}
	}
	.sidebar-category .woocommerce.widget_top_rated_products ul.product_list_widget li img {
		width: 60px;
		height: 80px;
	}
	.woocommerce ul.cart_list li .amount, .woocommerce ul.product_list_widget li .amount {
		font-size: 14px;
	}
	.form-newsletter2 .form-content form.widget_wysija p input.wysija-input {
		width: 200px;
	}
	.tweets-list-container {
		max-height: 300px;
	}
	.vg-md-none {
		display: none !important;
	}
	.vg-newsletter {
		.newsletter-container {
			padding-left: 375px;
		}
		.header-newsletter {
			h3 {
				font-size: 18px;
			}
		}
	}
	.social-icons {
		li {
			a {
				width: 30px;
				font-size: 18px;
				line-height: 30px;
				height: 30px;
			}
		}
	}
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
	.vgwc-item {
		&.vertical {
			.ma-box-content {
				padding: 0 0 0 80px;
				margin: 0 15px 15px !important;
				.vgwc-image-block {
					width: 70px;
				}
			}
		}
	}
	.vgpc-wrapper {
		.vgpc-post-title {
			font-size: 15px;
			line-height: 20px;
		}
	}
	/*Setting VG vg-md Class width*/
	.vg-md-12{
		width:100% !important;
	}
	.vg-md-11{
		width:91.66666667% !important;
	}
	.vg-md-10{
		width:83.33333333% !important;
	}
	.vg-md-9{
		width:75% !important;
	}
	.vg-md-8{
		width:66.66666667% !important;
	}
	.vg-md-7{
		width:58.33333333% !important;
	}
	.vg-md-6{
		width:50% !important;
	}
	.vg-md-5{
		width:41.66666667% !important;
	}
	.vg-md-4{
		width:33.33333333% !important;
	}
	.vg-md-3{
		width:25% !important;
	}
	.vg-md-2{
		width:16.66666667% !important;
	}
	.vg-md-1{
		width:8.33333333% !important;
	}
	/*End Setting Class Width VG vg-md*/
}
@media screen and (max-width: 992px) and (min-width: 767px) {
	/*Setting VG SM Class width*/
	.vg-sm-12{
		width:100% !important;
	}
	.vg-sm-11{
		width:91.66666667% !important;
	}
	.vg-sm-10{
		width:83.33333333% !important;
	}
	.vg-sm-9{
		width:75% !important;
	}
	.vg-sm-8{
		width:66.66666667% !important;
	}
	.vg-sm-7{
		width:58.33333333% !important;
	}
	.vg-sm-6{
		width:50% !important;
	}
	.vg-sm-5{
		width:41.66666667% !important;
	}
	.vg-sm-4{
		width:33.33333333% !important;
	}
	.vg-sm-3{
		width:25% !important;
	}
	.vg-sm-2{
		width:16.66666667% !important;
	}
	.vg-sm-1{
		width:8.33333333% !important;
	}
	.vg-sm-visible {
		display: block !Important;
	}
	.vg-sm-hidden {
	    display: none!important;
	}
	/*End Setting Class Width VG SM*/
	.mobile-mega-menu > ul > li ul.sub-menu li a {
		padding: 0 5px;
		text-transform: capitalize;
		font-size: 11px;
	}
}
@media screen and (max-width: 992px) {
	.layout-3 .sp-contact-info {
	    border-bottom: 1px solid #d9d9d9;
	}
	.vg-testimonial .wpb_wrapper > h2:before {
		width: 500%;
		right: -500%;
	}
	.sp-main-menu-wrapper {
		&.home2 {
		    padding-top: 40px;
			.sp-cart {
			    top: -48px;
			}
			.mini_cart_inner {
				.top-cart-title {
					.shopping_cart {
					    border: 1px solid #d9d9d9;
					}
				}
			}
		}
	}
	
	.banner {
		display: none;
	}
	#top {
	   text-align: center;
	}
	.top-bar ul.menu,.top-bar ul.menu li,.sp-contact-info,.sp-contact-info li {
		float: none !important;
	}
	.sp-contact-info,
	.sp-contact-info .sp-contact-email,
	.top-bar ul.menu li,
	.top-bar ul.menu li:last-child,
	#sp-logo .logo {
		border: 0;
	}
	
	#sp-logo .logo {
		text-align: center;
		a {
			text-align: center;
			margin: 32px 0 20px;
			width: auto;
		}
	}
	
	.sp-main-menu-wrapper {
		margin-top: 21px;
	}
	
	.widget_sp_image  {
		display: none !Important;
	}
	.sidebar-category .widget.widget_mega_main_sidebar_menu {
		display: none;
	}
	.main-container .page-content .entry-content .shop_table .product-name {
		width: 30%;
	}
	.mobile-menu-container {
		z-index: 999;
	}
	.visible-large {
		display: none;
	}
	.visible-small {
		display: block;
	}
	.vg-hot-sale.wpb_text_column .vg-title {
		margin: 0;
	}
	.widget_mega_main_sidebar_menu {
		.vg-title {
			padding: 0 0 0 10px !important;
			span {
				padding: 15px 10px 13px 25px;
			}
		}
	}
	.mobile-menu-container > ul > li > a, .mobile-mega-menu > ul > li > a {
		padding: 0 10px;
	}
	.front-page {
		.vc_row {
			.row-container {
				max-width: 750px;
			}
		}
	}
	
	.bottom-wrapper {
		> .container > .row {
			> div {
				padding-bottom: 30px;
			}
		}
	}
	.vg-social {
		text-align: center;
		.social-icons {
			float: none !important;
			padding-top: 20px;
			margin-left: 5px;
		}
	}
	
	.vg-hot-sale.wpb_text_column .vg-title h3 {
		font-size: 32px;
	}
	.vg-timeproduct.owl-theme .owl-controls .owl-pagination {
		.translate(-18px,-31px);
	}
	.timer-grid span { 
		display: block;
	}
	
	.main-container .shop-products .item-col .product-wrapper .product-image .quick-wrapper {
		bottom: 5px;
		right: 5px;
	}
	.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button {
		font-size: 0;
		&:before {
			font-size: 14px;
			margin: 0;
		}
	}
	.form-newsletter .row-container {
		max-width: 730px !important;
	}
	.latest-news .spc-container .spc-list li {
		width: 50% !important;
		float: left;
		.image-block {
			width: 100%;
		}
		.text-block { 
			width: 100%;
			padding: 15px 0px 0px 0px;
		}
	}
	.bottom-static-title h4 {
		font-size: 18px;
	}
	.bottom-link .menu-link .nav_menu li {
		a {
			padding-right: 15px;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.footer-static-title h4 {
		font-size: 12px;
	}
	.sidebar-category .widget_sp_image img {
		display: none;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields h3, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields h3 {
		font-size: 24px;
	}
	.main-container .page-content .entry-content #order_review_heading {
		font-size: 24px;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields label.checkbox, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields label.checkbox {
		font-size: 24px;
	}
	.yith_magnifier_mousetrap {
		display: none;
	}
	.main-container .product-view .upsells_products_widget, .main-container .product-view .related_products_widget {
		margin-bottom: 30px;
	}
	.main-container.about-page .vina-addon-content .vina-img img {
		width: 100%;
	}
	.main-container.about-page .vc_tta.vc_tta-tabs .vc_tta-tabs-list li a {
		font-size: 11px;
	}
	.main-container.about-page .vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-title-text {
		font-size: 11px;
	}
	.main-container.page-faq .vina-boxed .vina-action {
		padding: 10px;
		font-size: 12px;
	}
	.main-container.page-faq .features-item {
		text-align: center;
		i { 
			float: none;
			margin: 0;
		}
		.features-info {
			width: 100%;
		}
	}
	.form-newsletter2 {
		margin-top: 0 !important;
		.images {
			width: 100%;
		}
	}
	
	.home-layout4 {
		.top-bar {
			background: #222;
		}
		.header {
			background: #eee;
		}
	}
	.slider-home4 {
		margin-top: 0px;
	}
	.home-layout5 .sp-menu .menu-wrapper {
		text-align: left;
	}
	.vina-title2 h2 {
		font-size: 20px !important;
	}
}
@media screen and (max-width: 767px) {
	.cateproductmenu .widget_mega_main_sidebar_menu .vg-title h3:before {
		display: none;
	}
	.mini_cart_inner {
		z-index: 100000;
	}
	.main-container .shop-products > div{ 
		&:nth-child(2n + 3) {
			clear: both;
		}
	}
	.sp-main-menu-wrapper.home2 {
		&.none-left {
			padding-top: 20px;
			.sp-cart {
			    top: -47px;
			}
		}
	}
	
	.sp-main-menu-wrapper {
	    margin-top: 10px;
	}
	#sp-search-cart.media {
		display: inline-block;
		width: 100%;
	}
	#sp-search-cart {
		.sp-cart {
			padding: 0;
			display: inline-block !important;
			width: 100%;
			float: none;
			.top-cart-title {
				float: right;
			}
		}
		#sp-search {
			width: 100%;
			padding-top: 0;
			margin-bottom: 15px;
			display: inline-block;	
		}
		.mini_cart_inner .top-cart-title .shopping_cart {
			display: table-caption;
			.total {
				display: table-cell;
			}
		}
	}
	
	/*Set product button in mobile*/
	.cateproductmenu .widget_mega_main_sidebar_menu .vg-title {
		padding: 2px 0 1px 20px !Important;
	}
	.menu-wrapper {
	    padding-top: 10px;
	}
	.layout-3 {
		.sp-main-menu-wrapper {
			margin-bottom: 30px;
		}
	}
	.sp-main-menu-wrapper.home2 .sp-cart {
	    top: -102px;
	}
	
	.header-block-static {
		.box-col-inner {
			display: inline-block;
			float: none;
			width: 100%;
			margin-bottom: 10px;
			.pull-left {
				float: none !important;
				display: inline-block;
			}
			.media-body {
				display: inline-block;
				width: auto;
				text-align: center;
			}
		}
	}
	
	.vg-newsletter {
		.newsletter-container {
		    padding-left: 0;
		    position: static;
			.header-newsletter {
				position: static;
				padding-bottom: 15px;
			}
		}
	}
	
	/*End Set product button in mobile*/
	
	.tab-products.vc_tta.vc_general {
		.vc_tta-panel-body {
			padding: 21px 0 0;
			background: none !important;
		}
		.vc_tta-panel-heading {
			border-radius: 0;
			background: none !important;	
			i {
				display: none;
			}
			.vc_tta-title-text {
				margin: 0;
			}
		}
	}

	/*Page category*/
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col8,
	.main-container .shop-products.list-view .item-col .ma-box-content .list-col4 {
		padding: 0;
	}
	.main-container .shop-products.list-view .vgwc-item .ma-box-content .vgwc-image-block {
		margin-bottom: 8px;
	}
	.main-container.about-page .vina-addon-content .vina-img img {
		margin: 0;
	}
	.quickview-wrapper #quickview-content .main-container .product-view > .row > div {
		width: 100%;
	}
	.quickview-wrapper #quickview-content .main-container .product-view .summary.single-product-info {
		margin-top: 20px;
	}
	.bottom-wrapper > .container > .row > div {
		padding-bottom: 0;
	}
	.menu-top-menu-container {
		text-align: center;
		ul {
			float: none;
		}
	}
	.copyright {
		text-align: center;
		margin-bottom: 10px;
	}
	.col-payment {
		text-align: center;
	}
	.main-container.front-page .page-content {
	    padding: 0 15px;
	}
	.logo-bottom .bottom-static-content {
		padding-right: 0;
	}
	.brands-carousel.owl-carousel .owl-controls .owl-buttons > div.owl-prev {
		left: 10px;
	}
	.brands-carousel.owl-carousel .owl-controls .owl-buttons > div.owl-next {
		right: 10px;
	}
	
	.top-info {
		text-align: center;
	}
	
	.topbar-menu {
		text-align: center;
		border-top: 1px solid #383838;
		.nav-menu {
			float: none;
		}
	}
	.header {
		> .container {
			padding-bottom: 5px;
		}
	}
	.vg-search {
		text-align: center;
		.widget_product_search {
			display: inline-block;
		}
	}
	.vg-cart {
		text-align: center;
		.widget_shopping_cart {
			display: inline-block;
		}
	}
	.wpb_single_image .vc_single_image-wrapper {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.galio-banner {
		margin-top: 20px;
	}
	.banner-box {
		margin-top: 20px;
	}
	.vc_tta.vc_general .vc_tta-panel {
		margin-bottom: 15px;
	}
	.form-newsletter {
		.row-container {
			max-width: 565px !important;
			padding: 40px 20px !important;
		}
		.form-content {
			position: relative;
			z-index: 9;
		}
		.images {
			width: 50%;
		}
	}
	.vgwc-wrapper.owl-carousel .vgwc-image-block {
		img {
			width: 100%;
		}
	}
	.banner-box img {
		width: 100%;
	}
	.latest-news {
		margin-top: 30px;
	}
	.main-container .shop-products.list-view .item-col .product-wrapper .list-col4 {
		width: 40%;
	}
	.main-container .shop-products.list-view .item-col .product-wrapper .list-col8 {
		width: 60%;
	}
	.main-container .page-content .entry-content .actions .cart-total-wrapper {
		margin-top: 30px;
		float: left;
	}
	.main-container .page-content .entry-content #customer_details {
		padding-right: 0px;
		width: 100%;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields {
		margin-bottom: 30px;
	}
	.main-container .page-content .entry-content #order_review {
		width: 100%;
	}
	.main-container .page-content.blog-nosidebar .post-thumbnail {
		border: none;
		width: 100%;
	}
	.main-container .page-content.blog-nosidebar .postinfo-wrapper {
		width: 100%;
	}
	.filter-options .btn {
		padding: 10px;
	}	
	.single-project.has-gallery .gallery, .single-project.no-gallery .gallery {
		margin-bottom: 20px;
	}
	.single-project.has-gallery .gallery a, .single-project.no-gallery .gallery a {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.about-title {
		margin-top: 20px !important;
	}
	.vina-img {
		margin-top: 25px;
	}
	.main-container.services-page .services-content h2 {
		margin-top: 20px;
	}
	.main-container.services-page .services-list h3 {
		margin-top: 20px;
	}
	.vina-addon-content {
		margin-bottom: 20px !important;
	}
	.main-container.page-faq .vina-boxed {
		margin-top: 30px;
	}
	.form-newsletter2 .images {
		height: 100%;
		width: auto;
	}

	.title4::after {
		display: none;
	}
	
	.carousel-products {
		margin-top: 20px;
	}
	.bottom-static-title {
		margin-top: 25px;
	}
	.bottom-link .menu-link .nav_menu {
		float: left;
	}
	.footer-static-title h4 {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.payment {
		float: left;
	}
}
@media screen and (max-width: 599px) {
	.layout-3 .top-bar {
		background-color: #fff;
	}
	.layout-3 .sp-contact-info {
		border-bottom: 0;
	}
	.vg-newsletter .newsletter-container .header-newsletter {
		padding-top: 15px;
	}
	/*Page Category*/
	.main-container {
		.shop-products,.shop-category {
			> div {
				width: 100%;
			}
		}
	}
	.top-bottom-wrapper > .container {
		padding-top: 0;
		padding-bottom: 20px;
	}
	.main-container .product-view .product .woocommerce-tabs ul.tabs li a {
		padding: 8px 12px;
		font-size: 13px;
	}
	.quickview-wrapper #quickview-content .main-container .product-view > .row > div {
		width: 100%;
	}
	.front-page.front-page-2,.front-page.front-page-3 {
		.vg-hot-sale {
		    margin-top: 0px;
		}
	}
	.blog-page .social-sharing {
		text-align: center;
		.widget-title {
			width: 100%;
			text-align: center;
			padding-bottom: 8px;	
		}
		.social-icons {
			float: none;
		}
	}
	.main-container .page-content .entry-content .shop_table {
		thead {
			display: none;
		}
		td {
			display: inline-block;
			width: 100%;
			text-align: center;
		}
		.product-name {
			width: 100%;
			
		}
		td.product-name {
			text-align: center;
		}
		.product-thumbnail {
			max-width: 100%;
			a {
				display: inline-block;
			}
		}	
		.product-add-to-cart .button.alt {
			display: inline-block;
			float: none;
			margin: 0;
			width: 100%;
		}
		.button, .button.alt, #submit {
			width: 100%;
			margin: 5px 0px;
		}
		.quantity {
			display: inline-block;
		}
	}
	
	.vina-tab-list-product .wpb_tabs_nav > li > a {
		font-size: 14px;
	}
	.main-container .page-content .entry-content .shop_table {
	  thead {
	   display: none !important;
	  }
	  th,
	  td {
	   display: inline-block !important;
	   width: 100% !important;
	   text-align: center !important;
	  }
	  
	  .product-name {
	   width: 100%;
	   
	  }
	  td.product-name {
	   text-align: center;
	  }
	  .product-thumbnail {
	   max-width: 100%;
	   a {
		display: inline-block;
	   }
	  } 
	  .product-add-to-cart .button.alt {
	   display: inline-block;
	   float: none;
	   margin: 0;
	   width: 100%;
	  }
	  .button, .button.alt, #submit {
	   width: 100%;
	   margin: 5px 0px;
	  }
	  .quantity {
	   display: inline-block;
	  }
	}
	.main-container .page-content .entry-content .cart-total-wrapper .wc-proceed-to-checkout a {
		margin-left: 0 !important;
	}
	.main-container .page-content .entry-content .cart-total-wrapper .shop_table th {
		display: none !important;
	}
	.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
		background: none;
	}
	.main-container .page-content .entry-content .shop_table.wishlist_table .product-add-to-cart .button.alt {
		width: 60px;
		margin: 0 auto;
		border: 0;
		padding: 0;
	}
}
@media screen and (max-width: 479px) {
	.sp-main-menu-wrapper.home2.none-left {
		padding-top: 17px;
		.mini_cart_inner {
		    position: static;
		}
		.sp-cart {
			padding: 0;
			width: 100%;
		}
	}
	.sp-contact-info {
	    padding: 10px 0 0;
	}
	.top-bar ul.menu li a {
	    padding: 5px 8px;
	}
	.widget.icon .vg-title, .wpb_text_column.icon .vg-title {
	    padding-left: 0;
		h3 {
			padding-top: 0;
			i {
				display: none;
			}
		}
	}
	.mcart-border:after {
		right: 20px;
	}
	.mini_cart_inner:hover .mcart-border {
		left: 0;
		max-width: 100%;
	}
	.vg-newsletter .header-newsletter h3 {
		font-size: 14px;
	}
	
	.main-container .product-view .summary.single-product-info .cart .quantity .input-tex
	.main-container .product-view .summary.single-product-info .cart .addtocart-button .button {
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		padding: 0 18px 0 30px;
	}
	.main-container .product-view .summary.single-product-info .cart .addtocart-button:before {
		font-size: 14px;
	}
	.sp-main-menu-wrapper {
		> .container {
			> .row-container
				.sp-top-contact,.menu-wrapper {
				width: 100%;
			}
		}
	}
	.top-bar ul li {
		padding: 0 15px;
		border: none;
		&:last-child {
			border: none;
		}
	}
	.menu-top-menu-container ul li a {
		line-height: 26px;
	}
	.mcart-border {
		right: -55px;
	}
	.main-container .shop-products .item-col {
		width: 100%;
	}
	.form-newsletter .row-container {
		max-width: 82% !important;
	}
	.form-newsletter .form-content form.widget_wysija p input.wysija-input {
		width: 200px;
	}
	.main-container .toolbar .woocommerce-result-count {
		margin: 0;
	}
	.main-container .page-content .entry-content .customer_login form.login .form-action label, .main-container .page-content .entry-content .customer_login form.register .form-action label {
		float: left;
	}
	
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields label.checkbox, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields label.checkbox {
		font-size: 18px;
	}
	.main-container .page-content .entry-content .woocommerce .woocommerce-billing-fields h3, .main-container .page-content .entry-content .woocommerce .woocommerce-shipping-fields h3 {
		font-size: 18px;
	}
	.main-container .page-content .entry-content #order_review_heading {
		font-size: 18px;
	}
	.main-container .page-content .entry-content .shop_table.woocommerce-checkout-review-order-table td {
		display: table-cell;
		width: auto;
	}
	.main-container .product-view .summary.single-product-info .actions .add-to-links {
		margin-bottom: 10px;
	}
	.main-container .product-view .product .woocommerce-tabs ul.tabs li {
		width: 100%;
		float: left;
		border: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid #ededed;
		&.active {
			margin-bottom: 0;
			border-top: 1px solid transparent;
		}
	}
	.main-container .product-view .summary.single-product-info .group_table .group-row .price {
		.old-price {
			font-size: 14px;
		}
		.special-price {
			font-size: 14px;
			margin-right: 5px;
		}
	}
	.main-container .page-content.blog-page .postinfo-wrapper {
		.post-date {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			color: #222;
			height: auto;
			left: 0;
			position: inherit;
			text-align: left;
			top: 0;
			width: auto;
			.day {
				color: #222;
				display: inline-block;
			}
			.month {
				color: #222;
				margin-left: 5px;
			}
		}
		.post-info {
			margin-left: 0;
		}
	}
	.main-container .page-content.blog-page .social-sharing .social-icons li {
		margin: 0 5px 10px 0;
		width: auto;
		.social-icon { 
			height: 40px;
			line-height: 36px;
			width: 40px;
		}
	}
	.main-container .page-content.blog-page .comments-area .comment-respond .comment-form .comment-form-author, .main-container .page-content.blog-page .comments-area .comment-respond .comment-form .comment-form-email, .main-container .page-content.blog-page .comments-area .comment-respond .comment-form .comment-form-url {
		width: 100%;
	}
	.filter-options .btn {
		margin-top: 5px;
	}
	.single-project.has-gallery .gallery a img, .single-project.no-gallery .gallery a img {
		width: 70px;
		height: 70px;
	}
	.single-project.has-gallery .project_date, .single-project.no-gallery .project_date {
		width: 100%;
	}
	.single-project.has-gallery .project_date .social-sharing .social-icons li, .single-project.no-gallery .project_date .social-sharing .social-icons li {
		margin: 0 5px 10px 0;
		width: auto;
		.social-icon { 
			height: 40px;
			line-height: 36px;
			width: 40px;
		}
	}
	.single-project.has-gallery .summary, .single-project.no-gallery .summary {
		float: none;
		margin-left: 0;
		padding: 0;
		width: 100%;
	}
	.main-container.about-page .vc_general.vc_cta3 .vc_cta3-content-header h2 {
		font-size: 20px;
	}
	.main-container.about-page .vc_general.vc_cta3 {
		padding: 50px 20px;
	}
	.form-newsletter2 {
		padding: 60px 20px;
	}
	.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button {
		font-size: 12px;
		&:before {
			margin: 0 5px 0px 0px;
		}
	}
}
@media screen and (max-width: 319px) {
	.timer-grid {
		.hour, .min,.sec {
			font-size: 10px;
			text-align: center;
		}
		span {
			font-size: 18px;
		}
		.day {
			span {
				font-size: 30px;
			}
		}
	}
	.vina-title {
		text-align: left;
		padding-left: 0;
	}
	.main-container .product-view .summary.single-product-info .cart .button {
		margin-top: 10px;
	}
	.main-container .product-view .summary.single-product-info .actions .add-to-links .compare-button {
		margin-bottom: 10px;
	}
}