/*
Theme Name: VG Galio Child
Theme URI: http://wordpress.vinagecko.net/t/galio/
Author: VinaGecko.com
Description: This is a child theme for VG Galio
Version: 1.0
Author URI: http://vinagecko.com/
Template: vg-galio
Text Domain: vg-galio-child
*/

/*  [ Add your custom css below ]
- - - - - - - - - - - - - - - - - - - - */
.main-container .product-view .summary.single-product-info .cart .variations .value select {
    height: 30px;
    padding: 0 0 0 10px;
    width: 100%;
    background: transparent;
    color: #404040;
    border: 1px solid #189f2b;
}
.main-container .product-view .summary.single-product-info .cart .variations .label {
    color: #404040;
    float: left;
    border: 0;
    font-size: 14px;
    margin: 0px;
    padding: 3px 0;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
}
.sp-contact-info li i {
    font-size: 18px;
    margin: 0 3px;
}
.sp-contact-info li {
    margin: 0;
    line-height: 18px;
    font-size: 14px;
    display: inline-block;
    float: left;
    padding-top: 9px;
    padding-bottom: 9px;
}
.wrapper { overflow: unset !important; }