/*
Theme Name: VG Galio
Theme URI: http://wordpress.vinagecko.net/t/galio/
Author: VinaGecko
Author URI: http://vinagecko.com/
Version: 1.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
	direction: rtl;
	unicode-bidi: embed;
	margin: 0;
}

caption,
th,
td {
	text-align: right;
}

ul,
ol {
	margin: 0;
}

.top-bar ul {
    float: right;
}
.sp-contact-info .sp-contact-email {
	margin-right: 15px;
}

.vg-shipping .box-col-inner .media-body {
	text-align: right;
}
.vg-shipping .box-col-inner .pull-left {
	margin-right: 0;
	margin-left: 10px;
}
.sp-cart {
	padding-right: 30px;
	padding-left: 0;
}
.mcart-border:after {
	right: auto;
	left: 63px;
}
.mini_cart_inner .top-cart-title .shopping_cart {
	padding-right: 0;
	padding-left: 10px;
}
.mini_cart_inner .top-cart-title .shopping_cart i {
	border-right: 0;
	border-left: 2px solid #e1e1e1;
}
.vg-testimonial .wpb_wrapper > h2 {
	padding: 5px 0 6px 10px;
}
.vg-testimonial .wpb_wrapper > h2:before {
	right: auto;
	left: -100%;
}

.mega_main_menu.first-lvl-align-left > .menu_holder > .menu_inner > ul {
    text-align: right;
}
#menu-container {
	padding-right: 0;
	padding-left: 0;
}
#header-menu .mega_main_menu {
    border-left: 1px solid #d9d9d9;
    border-right: 0;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li {
	margin: 0 0px 0 3px;
}
.sp-main-menu-wrapper.home1 #header-menu .mega_main_menu, .sp-main-menu-wrapper.home2 #header-menu .mega_main_menu {
	margin-right: -30px;
	margin-left: 0;
}
#header-menu .mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link {
	border-left: 1px solid #d9d9d9;
	border-right: 0;
}
.mega_main_menu li.multicolumn_dropdown.submenu_full_width.drop_to_center > .mega_dropdown, .mega_main_menu li.multicolumn_dropdown.drop_to_right > .mega_dropdown {
	right: 0;
	left: auto;
}
.vg-search form.isp_search_box_form input[type="text"].isp_search_box_input {
	left: 0;
	right: auto;
}
.vg-search form.isp_search_box_form #wsearchsubmit {
	float: left;
}
.vg-search form.isp_search_box_form:hover input[type="text"].isp_search_box_input,
 .vg-search form.isp_search_box_form:focus input[type="text"].isp_search_box_input {
	padding-left: 60px;
	padding-right: 10px;
}
.vg-search form.isp_search_box_form {
	left: 0;
	right: auto;
}
.widget.vg-icon .vg-title, .wpb_text_column.vg-icon .vg-title {
	padding-left: 0;
	padding-right: 40px;	
}

.widget.vg-icon .vg-title h3, .wpb_text_column.vg-icon .vg-title h3 {
	padding-right: 10px;
	padding-left: 69px;
}
.vgwc-product-price, .product-price, .compare-list .price, .price {
   direction: ltr;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col4 {
    padding: 0 0 0 15px;		
}

.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
    float: right;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li {
	float: right;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown {
    margin: 0 10px 0 0;
    float: right;
    left: 0;
    right: 100%;
}
.widget_mega_main_sidebar_menu .mega_main_menu.icons-left > .menu_holder > .menu_inner > ul > li > .item_link.with_icon > .link_content {
    float: right;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
	left: auto;
	right: -10px;
	margin: 0px 0 0 -15px;
}
.widget_mega_main_sidebar_menu .vg-title {
	padding: 0 20px 0 0px !important;
}
.widget_mega_main_sidebar_menu .vg-title span {
	padding: 20px 25px 18px 10px;
    background-position: right;
    text-align: right;
}
.main-container .shop-products.list-view .item-col .ma-box-content .list-col8 .listview .vgwc-button-group .add-to-links > div.vgwc-wishlist {
	margin-right: 0;
}
.tab-products.vc_tta.vc_general .vc_tta-tabs-container {
	margin-right: 0 !important;
	margin-left: 65px !important;
}
.tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list > li {
    float: right;
}
.tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list > li:first-child a {
	padding-left: 25px;
	padding-right: 0;
}
.tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list > li a:after {
	right: 0 !important;
	left: auto !important;
}
.tab-products.vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list > li:first-child a:after {
	display: none;
}
/*Top*/
.top-menu ul li:after {
	left: 0;
	right: auto;
}
.top-bar ul.menu {
	float: left;
}
#sp-logo .logo {
	border-left: 1px solid #d9d9d9;
	border-right: 0;
}
.mini_cart_inner {
	float: left;
}
.mini_cart_inner .item-cart .cart-quantity {
	float: left;
	margin-right: 3px;
}
.mcart-border {
	right: auto;
	left: 0;
}

/*Mega Menu*/
.mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.tabs_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.post_type_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.grid_dropdown.drop_to_right > .mega_dropdown, .mega_main_menu.direction-vertical > .menu_holder > .menu_inner > ul > li.widgets_dropdown.drop_to_right > .mega_dropdown {
	left: auto;
	right: 100%;
}
.mega_main_menu.icons-left > .menu_holder > .menu_inner > ul > li > .item_link.with_icon i {
	float: right;
	padding-left: 15px;
	padding-right: 0;
}
.widget_mega_main_sidebar_menu .mega_main_menu > .menu_holder > .menu_inner > ul > li.menu-item-has-children > .item_link:after {
    right: auto !important;
    left: 25px !important;
    content: "\f104";
}

.owl-carousel .owl-controls .owl-buttons {
    right: auto !important;
    left: 0 !important;
    padding-left: 0;
    padding-right: 15px;
}
.widget .vg-title h3, .wpb_text_column .vg-title h3 {
	padding: 5px 0 6px 10px;
}
.widget_mega_main_sidebar_menu .vg-title h3 {
    padding: 11px 25px 10px 0;
    background-position: 100% center;
    text-align: right;
}
.cateproductmenu .widget_mega_main_sidebar_menu .vg-title {
	padding: 0px 20px 0px 0px !Important;
}
.cateproductmenu .widget_mega_main_sidebar_menu .vg-title h3:after {
	left: 0;
	right: auto;
}

/*Product carousel*/
.main-container .page-content.blog-page .postinfo-wrapper .post-info {
	margin-left: 0;
	margin-right: 0;
}
.page-content h1.archive-title:before {
	right: 0;
}
.page-content .readmore:after {
	margin-right: 10px;
	margin-left: 0;
	transform: rotate(180deg);
}
/*Tab*/
.vina-tab-list-product .wpb_tabs_nav > li {
	float: right;
    background-position: left 3px !important;
}
.vina-tab-list-product .wpb_tabs_nav > li:last-child {
	padding-right: 15px !Important;
	padding-left: 0 !important;
}
.vina-tab-list-product .wpb_tabs_nav > li:first-child {
	padding-left: 15px !Important;
	padding-right: 0 !important;
}

.widget .vg-title:after, .wpb_text_column .vg-title:after {
	left: auto;
	right: 0;
}

.vg-social .social-icons {
	float: left;
}
.vg-newsletter .widget_wysija_cont > form > *.wysija-paragraph > .formError {
    margin-left: 1px;
}
.vg-newsletter .newsletter-container {
	padding-right: 482px;
	padding-left: 0;
}
.vg-newsletter .header-newsletter:before {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.footer-content .add {
	padding-right: 30px;
	padding-left: 0;
}
.footer-content .add:before {
	margin: 0 0 0 15px;
	left: auto;
	right: 0;
}
.vg-bottom-menu .menu li a:before {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

.rev_slider_wrapper .rev_slider .subtitle::after {
    bottom: 0;
    display: inline-block;
    left: 0;
    position: absolute;
}
.tab-product .vc_tta-tabs-list > li:last-child > a {
    background: rgba(0, 0, 0, 0) url("images/border_tabs.png") no-repeat scroll 100% 50% !important;
}
.tab-product .vc_tta-tabs-list > li:first-child > a {
    background: none !important;
}

.main-container .shop-products .item-col .product-wrapper .price-box .special-price {
	float: right;
}
.main-container .shop-products .item-col .product-wrapper .price-box .old-price {
	float: right;
}
.main-container .shop-products .item-col .product-wrapper .product-image .quick-view {
	left: 0;
	right: auto;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart {
	float: right;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button {
	border-left: 1px solid #eee;
	border-right: none;
	padding: 0px 0px 0px 15px;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button::before {
	margin: 0px 0px 0px 10px;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a, .main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist {
	padding: 0 15px 0 0;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .compare-button a.compare {
	padding: 0 15px 0 0;
}
.form-newsletter .images {
	right: auto;
	left: 60px;
}
.form-newsletter .form-content form.widget_wysija p {
	float: right;
}
.form-newsletter .form-content form.widget_wysija input.wysija-submit {
	float: right;
}
.owl-carousel {
	direction: ltr;
}
.vgwc-wrapper.owl-carousel .vgwc-item-i {
	direction:rtl;
}

.our-brands .owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 0;
	right: auto;
}
.our-brands .owl-theme .owl-controls .owl-buttons .owl-next {
	left: auto;
	right: 0;
}
.vg-bottom .menu li a::before {
	margin: 0px 0px 0px 8px;
}
.bottom-static-title h4 {
	padding: 0 0 0 10px;
}
.bottom-link .social-icons {
	float: right;
}
.bottom-link .social-icons li {
	float: right;
    margin: 0 0 0 10px;
}
.bottom-link .menu-link .nav_menu {
	float: left;
}
.bottom-link .menu-link .nav_menu li {
	float: right;
}
ul.address li span.fa::before {
    padding: 0 5px 0 0;
}
ul.address li span.fa {
	float: right;
	margin: 0px 0px 0px 15px;
}
.top-footer ul.menu > li > a::before {
    float: right;
    margin: 0 0 0 8px;
}
.payment {
    float: left;
}
.main-container .shop_header::after {
	right: 0;
	left: auto;
}	
.sidebar-category .product-categories li a::before {
	margin: 0px 0px 0px 8px;
}
.sidebar-category .woocommerce.widget_layered_nav ul li a::before {
	margin: 0px 0px 0px 8px;
}
.sidebar-category .yith-woocompare-widget .compare.button {
	float: left;
}
.main-container .toolbar .view-mode {
	float: right;
}
.main-container .toolbar .view-mode a {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
.main-container .toolbar .view-mode a strong {
	    -webkit-transform: translate(-4px,-4px);
    -moz-transform: translate(-4px,-4px);
    -ms-transform: translate(-4px,-4px);
    -o-transform: translate(-4px,-4px);
    transform: translate(-4px,-4px);
}
.timer-grid .hour,
.timer-grid .min,
.timer-grid .sec,
.timer-grid .day { 
	margin-right: 2%;
	margin-left: 0;
	float: right;
}
.timer-grid .day{margin: 0}

.woocommerce .woocommerce-product-rating .star-rating {
	float: right;
	margin: .5em 0px 0 4px;
}
.main-container .product-view .summary.single-product-info .price-box .vgwc-product-price {
    text-align: right;
}
table.compare-list tr.price .old-price .amount {
  margin: 0 0 0 5px;
}	
.main-container .toolbar .woocommerce-result-count {
    float: right;
    margin: 0 25px 0 0;
}
.main-container .toolbar .woocommerce-ordering {
    float: left;
}
.main-container .shop-products.list-view .item-col .product-wrapper .list-col4 {
    padding: 0 0 0 15px;
}
.main-container .shop-products.list-view .item-col .product-wrapper .product-name {
	text-align: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .ratings {
    text-align: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .product-image .quick-view {
    left: 5px;
	right: auto;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-cart {
	float: right;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button {
	padding: 0 0 0 15px;
	border-left: 1px solid #eee;
	border-right: 0;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-cart .add_to_cart_inline a.button::before {
	margin: 0 0 0 10px;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a, .main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist {
	padding: 0 15px 0 0;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .compare-button a.compare {
	padding: 0 15px 0 0;
}
.main-container .toolbar .woocommerce-pagination {
    float: left;
}
.quickview-wrapper #quickview-content .product-images {
	float: right;
}
.quickview-wrapper #quickview-content .product-info {
    padding: 0 30px 0 0; 
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .quantity {
    float: right;
    margin: 0 0 0 5px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button {
	float: right;
}
.quickview-wrapper #quickview-content .widget .widget-title {
	text-align: right;
}
.quickview-wrapper #quickview-content .widget .social-icons {
    float: right;
}
.quickview-wrapper #quickview-content .widget .social-icons li {
	float: right;
    margin: 0 0 0 10px;
}
.main-container .shop-products .item-col .product-wrapper .onsale {
	left: auto;
	right: 10px;
}
.woocommerce span.lbfeatured {
	left: 10px;
	right: auto;
}
.main-container .product-view .summary.single-product-info .price-box {
	float: right;
}
.main-container .product-view .summary.single-product-info .price-box .price {
	float: right;
}
.main-container .product-view .summary.single-product-info .stock-status {
	float: left;
}
.main-container .product-view .summary.single-product-info .stock-status span {
	float: left;
}
.main-container .product-view .summary.single-product-info .cart .button {
	float: right;
}
.main-container .product-view .summary.single-product-info .cart .quantity {
	float: right;
    margin: 0 0 0 15px;
}
.main-container .product-view .summary.single-product-info .actions .add-to-links {
    float: right;
}
.main-container .product-view .single-product-sharing .social-icons {
	float: right;
}
.main-container .product-view .single-product-sharing .social-icons li {
	float: right;
}
.main-container .product-view .single-product-sharing .social-icons li:first-child {
    margin-left: 6px;
    margin-right: 0;
}
#breadcrumbs .separator {
    transform: rotate(-180deg);
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li {
	float: right;
}
.vg-contact-us span.fa {
	padding-right: 6px;
	padding-left: 0;
}
.woocommerce p.stars a {
	margin-right: 0;
	margin-left: 1em;
}
.sidebar-category .woocommerce.widget_top_rated_products ul.product_list_widget li img {
	float: right;
    margin: 0 0 0 10px;
}
.main-container .shop-products .item-col .product-wrapper {
	direction: rtl;
}
.main-container .product-view .summary.single-product-info .cart .variations .label {
	text-align: right;
}
.main-container .product-view .summary.single-product-info .cart .variations .value {
	padding-right: 0;
}
.main-container .product-view .summary.single-product-info .cart .variations .reset_variations {
    float: right;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price {
    float: right;
	width: auto;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div.quantity-row {
    float: right;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div.label {
	text-align: right;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div {
    text-align: left;
}
.main-container .product-view .summary.single-product-info .cart .group_table .group-row > div.price .vgwc-product-price {
	margin: 8px 11px 0 0;
}
.main-container .product-view .summary.single-product-info .group_table .group-row .quantity-row {
    float: right;
}
#secondary .widget.widget_product_categories ul li > a, #secondary .widget.widget_categories ul li > a {
    padding-right: 5px;
    padding-left: 0;
}
#secondary.sidebar-blog .widget.widget_categories .vg-title span {
    padding: 15px 30px 15px 0;
    background-position: 100% 53%;
}
#secondary.sidebar-blog .widget.widget_categories ul li a::before {
	margin: 0px 0px 0px 8px;
}
#secondary.sidebar-blog .widget.widget_galio_widgets ul li .post-wrapper .post-thumb {
    float: right;
}
#secondary.sidebar-blog .widget.widget_galio_widgets ul li .post-wrapper .post-info {
	margin-left: 0;
    margin-right: 60px;
}
#secondary .widget.widget_categories ul li:before {
	display: none;
}
#secondary .widget.widget_categories ul li a {
    float: right;
    padding: 0 20px 0 5px;
}
.su-slider {
	direction: ltr;
}
.main-container .page-content.blog-page .postinfo-wrapper .post-date {
	right: 20px;
	left: auto;
}

.page-content .entry-meta > span {
	margin-right: 15px;
	float: right;
}
.page-content .entry-meta > span.author {
	margin-right: 0;
}
.page-content .entry-meta > span i {
	margin-left: 5px;
	margin-right: 0;
}
.page-content .entry-meta:after {
	right: 0;
	left: auto;
}
.pagination a, .pagination span {
	float: right;
}
.main-container .page-content.blog-page .entry-title {
	text-align: right;
}
.default-page .entry-header h1.entry-title:before {
	right: 0;
	left: auto;
}
.main-container .page-content .entry-content .actions .cart-total-wrapper {
	float: left;
}
.main-container .page-content.blog-page .entry-meta-small::before {
	right: 0;
	left: auto;
}
.main-container .page-content.blog-page .entry-meta::before {
	right: 0;
	left: auto;
}
.main-container .page-content.blog-page .author-info .author-avatar {
    float: right;
}
.main-container .page-content.blog-page .author-info .author-description {
    margin-left: 0;
    margin-right: 88px;
}
.filter-options.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 25px 25px 0;
}
.filter-options.btn-group > .btn:last-child:not(:first-child), .filter-options.btn-group > .dropdown-toggle:not(:first-child) {
	border-radius: 25px 0px 0px 25px;
}
.single-project.has-gallery .project_date, .single-project.no-gallery .project_date {
	float: right;
}
.single-project.has-gallery .summary, .single-project.no-gallery .summary {
	margin-left: 0;
    margin-right: 95px;
}
.single-project .project .summary .single-project-categories li::before {
	float: right;
	margin: 0px 0px 0px 10px;
}
.single-project .project .summary .project-url::before {
	float: right;
	margin: 0px 0px 0px 10px;
}
.single-project .related_projects .single-featured a .project-info {
	padding-right: 18px;
	padding-left: 0px;
}
.vc_progress_bar .vc_single_bar .vc_label {
	text-align: left;
}
.main-container.about-page .vc_tta.vc_tta-accordion .vc_tta-controls-icon {
    left: 20px;
    right: auto;
}
.main-container.about-page .vc_tta.vc_tta-accordion .vc_tta-panel-title > a {
	text-align: right;
}
.main-container.services-page .features-item i {
	margin: 0 0 14px 15px;
	float: right;
}
.main-container.services-page .services-list ul li::before {
	margin: 0 0 0 8px;
}
.main-container.services-page .services-content h2 {
	text-align: right;
}
.main-container.page-faq .vc_toggle.vc_toggle_simple .vc_toggle_title {
	padding: 8px 45px 7px 0;
}
.main-container.page-faq .vc_toggle.vc_toggle_simple .vc_toggle_icon {
	left: auto;
	right: 10px;
}
.main-container.page-faq .features-item i {
	margin: 0 0 0 15px;
	float: right;
}
body.error404 .page-404 .searchform {
	margin-left: 0;
    margin-right: 20px;
}
.vc_tta.vc_general .vc_tta-panel-title > a {
	text-align: right;
}
.vc_slide {
	direction: ltr;
}
.su-carousel {
	direction: ltr;
}
a.pp_arrow_previous, a.pp_arrow_next {
	font-size: 0;
}
.pp_nav .pp_play, .pp_nav .pp_pause, a.pp_close, a.pp_expand, a.pp_contract {
	font-size: 0;
}
a.pp_next, a.pp_previous {
	font-size: 0;
}
.vc_btn3-container.vc_btn3-left {
    text-align: right;
}

.rev_slider .tp-caption.subtitle2 {
	text-align: center;
}
.rev_slider .tp-caption.description2 {
	text-align: center;
}
.vgwc-wrapper.owl-carousel .owl-buttons div {
	left: 21px;
    right: auto;
}
.vgwc-wrapper.owl-carousel .owl-buttons .owl-prev {
	left: 0;
    right: auto;
}
.main-container .product-view .related_products_widget .widget-title {
	text-align: right;
}
.related_products_widget .widget-title span {
	padding: 0 0px 0 15px;
}
.main-container .product-view .related_products_widget .owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 0;
	right: auto;
}
.main-container .product-view .related_products_widget .owl-theme .owl-controls .owl-buttons .owl-next {
	left: 21px;
	right: auto;
}
.mobile-menu-container ul.nav-menu > li .fa {
	right: auto;
	left: 0;
}
.main-container .page-content .input-text, .main-container .page-content input[type="text"], .main-container .page-content .form-row .input-text {
	padding: 0 10px 0 0px;
}
.mbmenu-toggler span.mbmenu-icon {
	float: right;
	margin: 0 0 0 3px;
    background-position: right center;
}
.mbmenu-toggler span.title:after {
	left: 0;
	right: auto;
}
.mobile-menu-container > ul > li .fa, .mobile-mega-menu > ul > li .fa {
	float: left;
	left: 0;
	right: auto;
} 
@media screen and (max-width: 992px) {
	.vg-testimonial .wpb_wrapper > h2:before {
		right: auto;
		left: -500%;
	}
	#sp-logo .logo {
		border: 0;
	}
	.mobile-menu-container > ul > li ul.sub-menu, .mobile-mega-menu > ul > li ul.sub-menu {
		padding: 0 18px 0 0;
	}
	.main-container .shop-products .item-col .product-wrapper .product-image .quick-view {
		left: 5px;
	}
	.main-container.page-faq .features-item i {
		float: none;
		margin: 0;
	}
	.sp-contact-info .sp-contact-email{
		padding-right: 0;
		padding-left: 17px;
		margin: 0;
	}
}
@media screen and (max-width: 767px) { 
	.mcart-border {
		right: 0;
		left: auto;
	}
	.mcart-border:after {
		right: 63px;
		left: auto;
	}
	.cateproductmenu .widget_mega_main_sidebar_menu .vg-title {
		padding: 2px 20px 1px 0px !Important;
	}
	.vg-newsletter .newsletter-container {
	    padding-right: 0;
	}
	.main-container .shop-products .item-col {
		display: inline-block;
		float: right;
	}
	.latest-news .spc-container .spc-list li .text-block {
		padding: 15px 0px 0 0;
	}
	.bottom-link .menu-link .nav_menu {
		float: right;
	}
	.payment {
		float: right;
	.main-container.about-page .vina-addon-content .vina-img img {
		margin: 0;
	}
}
@media screen and (max-width: 460px) {
	.main-container .product-view .product .woocommerce-tabs ul.tabs li:last-child {
		border: none;
	}
	.main-container .page-content.blog-page .postinfo-wrapper .post-date {
		text-align: right;
		right: 0;
	}
	.main-container .page-content.blog-page .postinfo-wrapper .post-info {
		margin-left: 0;
		margin-right: 0;
	}
	.main-container .page-content.blog-page .social-sharing .social-icons li {
		margin: 0 0px 10px 5px;
		float: right;
	}
	.single-project.has-gallery .project_date .social-sharing .social-icons li, .single-project.no-gallery .project_date .social-sharing .social-icons li {
		margin: 0 0px 10px 5px;
		float: right;
	}
	.single-project.has-gallery .summary, .single-project.no-gallery .summary {
		margin-left: 0;
		margin-right: 0;
	}
	.mcart-border {
		left: -55px;
	}
}